<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{basics.firstName}} {{basics.lastName}}</title>
    <link href="http://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
      .container {
        margin-top: 15px;
        max-width: 960px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-2">
          <img class="img-responsive img-thumbnail" data-src="holder.js/64x64" alt="64x64" src="{{basics.picture}}">
        </div>
        <div class="col-md-4">
          <address>
            <strong>{{ basics.name }}</strong><br>
            {{ basics.location.address }}<br>
            {{ basics.location.postalCode }} {{ basics.location.city }}<br>
            {{ basics.phone }}<br>
            {{ basics.email }}
          </address>
        </div>
        <div class="col-md-6">
          <strong class="text-uppercase">ansioluettelo</strong><br><br>
          {{ currentDate }}
        </div>
      </div>
      <section class="row">
        <header class="col-md-3">
          <h3>Tietoja</h3>
        </header>
        <div class="col-md-9">
          <p>{{ basics.summary }}</p>
          <dl>
          {{ #basics.profiles }}
            <dt>{{ network }}</dt>
            <dd><a href="{{ url }}">{{ username }}</a></dd>
          {{ /basics.profiles }}
          </dl>
        </div>
      </section>
      {{#work.length}}
      <div class="row">
        <div class="col-md-3">
          <h3>Työkokemus</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <div class="skills">
            {{#work}}
            <h3>{{company}} <small>{{startDateYear}} - {{endDateYear}}</small></h3>
            <strong>{{position}}</strong>
            <ul class="list-unstyled">
            {{#summary}}
              <li>{{.}}</li>
            {{/summary}}
            </ul>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            {{/work}}
          </div>
        </div>
      </div>
      {{/work.length}} 

      {{#education.length}}
      <div class="row">
        <div class="col-md-3">
          <h3>Koulutus</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-offset-3">
          <div class="skills">
            {{#education}}
            <h3>{{institution}} <small>{{startDateYear}} - {{endDateYear}}</small></h3>
            <h4>{{educationDetail}}</h4>
            <p>{{summary}}</p>
            <ul>
              {{#highlights}}
              <li>{{.}}</li>
              {{/highlights}}
            </ul>
            {{/education}}
          </div>
        </div>
      </div>
      {{/education.length}} 
      {{#skills.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Taidot</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#skills}}
            <ul class="col-md-6">

              <li>
                <h4>{{name}}</h4>
                <ul>
                  {{#keywords}}
                  <li>{{.}}</li>
                  {{/keywords}}
                </ul>
              </li>
            </ul>
            {{/skills}}
          </div>
        </div>
      </section>
      {{/skills.length}}
      {{#references.length}}
      <section class="row">
        <header class="col-md-3">
          <h3>Suosittelijat</h3>
        </header>
        <div class="col-md-9">
          <div class="row-fluid skills">
            {{#references}}

            <p>{{reference}} -
              <strong>{{name}}</strong>
            </p>
            {{/references}}
          </div>
        </div>
      </section>
      {{/references.length}}
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
